<table class="table table-striped">
	<thead>
	<tr>
		<th>Имя </th>
		<th>Телефон</th>
		<th>Дата</th>
		<th>Парикмахер/th>
		<th>Цвет</th>
	</tr>
   </thead>
   <tbody>
	<% @results.each do |row| %>
	<tr>
		<td><%=row['Name'] %></td>
		<td><%=row['phone'] %></td>
		<td><%=row['DateStamp'] %></td>
		<td><%=row['Barber'] %></td>
		<td><%=row['Color'] %></td>
	</tr>
</tbody>
	<% end %>


</table>