<h2>Записаться</h2>
<form action='/visit' method="POST">
  <div class="form-group">
    <label>Парикмахер:</label>
    <select class="form-control" id="barber" name="barber">
    		<option  <%= @barber=='Jessie Pikman'? 'selected':""  %> >Jessie Pikman</option>
    		<option <%= @barber=='Maria Kolt'? 'selected':""  %>  >Maria Kolt</option>
    		<option <%= @barber=='Ivan Razin'? 'selected':""  %> >Ivan Razin</option>
    		<option <%= @barber=='Irina Bespalova'? 'selected':""  %> >Irina Bespalova</option>
    </select>
  </div>
  <div class="form-group">
    <label>Ваше имя</label>
    <input type="text" value="<%=@username %>" class="form-control" id="username" name="username" placeholder="Введите ваше имя">
  </div>
    <div class="form-group">
    <label>Ваш телефон</label>
    <input type="text" value="<%=@phone%>" class="form-control" id="phone" name="phone" placeholder="Введите ваш телефон">
  </div>
  <div>
    <div class="form-group">
    <label>Ваша дата</label>
    <input type="date" value="<%=@date%>" class="form-control" id="date" name="date" placeholder="Введите дату">
  </div>
  <div>
    <div class="form-group">
    <label>Выберите время</label>
    <input type="time" value="<%=@time%>" class="form-control" id="time" name="time" placeholder="Введите ваше время">
  </div>
  <select name="color" id="colorpicker">
  <option value="#7bd148">Green</option>
  <option value="#5484ed">Bold blue</option>
  <option value="#a4bdfc">Blue</option>
  <option value="#46d6db">Turquoise</option>
  <option value="#7ae7bf">Light green</option>
  <option value="#51b749">Bold green</option>
  <option value="#fbd75b">Yellow</option>
  <option value="#ffb878">Orange</option>
  <option value="#ff887c">Red</option>
  <option value="#dc2127">Bold red</option>
  <option value="#dbadff">Purple</option>
  <option value="#e1e1e1">Gray</option>
</select>
   <button type="submit" class="btn btn-primary">Записаться</button>
</form>

<script type="text/javascript">
$(function function_name () {
  $('select[name="color"]').simplecolorpicker();// body...
})

</script>